<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserInfoProvider" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10000/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserInfoProvider"
                contract="IUserInfoProvider" name="BasicHttpBinding_IUserInfoProvider" />
        </client>
    </system.serviceModel>
</configuration>